{% extends 'base.html.twig' %}

{#  {% block title %}Bienvenue{% endblock %}#}

{% block body %}

<p>Bienvenue dans le cours symfony</p>

    <ul>
        <li><a href="{{ path('app_bienvenue_personne',{nom : 'Pierre'}) }}">Pierre</a></li>
        <li><a href="{{ path('app_bienvenue_personne',{nom : 'Jean'}) }}">Jean</a></li>
        <li><a href="{{ path('app_bienvenue_personne',{nom : 'Paul'}) }}">Paul</a></li>
    </ul>

{% endblock %}
