{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <h1>Liste de tous les articles</h1>
    <ul>
        {% for article in articles %}
            <li>{{ article.titre }} <a href="{{ path('app_article_slug',{slug : article.slug}) }}">plus d'info </a></li>
        {% endfor %}

    </ul>
{% endblock %}
