{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}



    <h1>Liste de tous les articles</h1>
    <a class="btn btn-primary mb-3" href="{{ path('app_articles_nouveau') }}">Créer un article</a>
    <ul>
        {% for article in articles %}
            <li>{{ article.titre }} <a href="{{ path('app_article_slug',{slug : article.slug}) }}">plus d'info </a></li>
        {% endfor %}

    </ul>


    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
