{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}


{% block body %}
<h1>Création d'un article</h1>
    {{ form_start(formArticle) }}
    {{ form_row(formArticle.titre) }}
    {{ form_row(formArticle.contenu) }}
    <input type="submit" class="btn btn-primary" value="ajouter">

    {{ form_end(formArticle) }}


{% endblock %}



