<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>

<body>
    <h1>Demande de renseignements de {{prenom}} {{ nom }}</h1>
    <p>Ceci est un test d'envoie d'email à partir d'un template</p>


</body>
</html>